$background-color: black;
$text-field-color: black;
$font-size: 16;
$text-color: white;
$border-color: #292929;
$border-width: 1;
$input-field-border-color: grey;
$input-field-border-width: 2;

$buttons-color: #001861;
$buttons-radius: 0;
$buttons-hover-color: #101020;
$buttons-pressed-color: black;
$buttons-disabled-color: #292929;